body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://laurentsmeets.com/img/unnamed-chunk-7-1.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
  
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    font-size: 5rem;
  }


  button {
    font-size: 3rem;
    background-color: blue;
    color: antiquewhite;
    border-radius: 9px;
    padding: 20px;
  }
th {
    font-size: 4rem;
    padding: 20px;
}
  td {
    font-size: 3rem;
    padding: 20px;
  }